/* Write your CSS here */
.app-con {
  height: 100vh;
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-con {
  background-color: #fff;
  height: 70%;
  width: 50%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  font-family: 'Roboto';
}
.heading {
  font-size: 30px;
  color: #a35200;
}
.description {
  color: #334155;
  font-size: 20px;
}
.toss-result-img {
  height: 20vh;
}
.button {
  border-radius: 5px;
  height: 2rem;
  width: 6rem;
  margin-top: 20px;
}
.counts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.count {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .app-con {
    height: 100vh;
    background-image: linear-gradient(to left, #e2a139, #f9d423);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .white-con {
    background-color: #fff;
    height: 70%;
    width: 50%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * {
    font-family: 'Roboto';
  }
  .heading {
    font-size: 20px;
    color: #a35200;
  }
  .description {
    color: #334155;
    font-size: 10px;
  }
  .toss-result-img {
    height: 20vh;
  }
  .button {
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    margin-top: 10px;
  }
  .counts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  .count {
    padding: 10px;
    font-size: 10px;
  }
}
